# Entorno Virtual
venv/
venvia/
.venv/
env/

# Secretos y Entorno
.env
*.env.local

# Bytecode y Caché
__pycache__/
*.py[cod]
.pytest_cache/

# Base de Datos Local
data/*.db
data/*.sqlite3

# Binarios y Video Renderizado (Muy pesados para Git)
assets/output/*.mp4
assets/audio/generated_*.mp3
assets/audio/temp_*
*.log